.DS_Store

application/cache

application/config/*
!application/config/themes.php

application/controllers/*
!application/controllers/api
!application/controllers/oauth2.php
!application/controllers/welcome.php

application/errors/*
!application/errors/error_404.php
!application/errors/error_db.php
!application/errors/error_general.php
!application/errors/error_php.php

application/helpers
application/hooks
application/language
application/libraries
application/logs

application/models/*
!application/models/M_Welcome.php

application/modules/*
!application/modules/telo

application/themes/*
!application/themes/default

application/third_party

application/views/*
!application/views/test_form.php
!application/views/welcome_message.php

themes/*
!themes/default

/index.php

composer.*