.DS_Store

/application/config/config.php
/application/config/database.php

/application/logs/*
!/application/logs/index.html

/application/models/*
!/application/models/index.php

/application/modules/*
!/application/modules/welcome
!/application/modules/api

/application/themes/*
!/application/themes/default
!/application/themes/index.html

/application/views/*
!/application/views/errors
!/application/views/basic_message.php

/themes/*
!/themes/default
!/themes/index.html

/uploads/*
!/uploads/index.html

/modules/*
!/modules/welcome
!/modules/api

/index.php

less
*.less

*.ignore

composer.*