.DS_Store

/application/cache
/application/controllers
/application/helpers
/application/hooks
/application/language
/application/libraries
/application/logs

/application/models/*
!/application/models/M_Welcome.php

/application/modules/*
!/application/modules/welcome
!/application/modules/api
!/application/modules/oauth

/application/themes/*
!/application/themes/default
!/application/themes/index.html

/application/third_party
/application/views/*
!/application/views/errors

/themes/*
!/themes/default
!/themes/index.html

/uploads/*
!/uploads/index.html

/assets
/system

/index.php

less
*.less

composer.*